<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=tit %></title>
</head>
<body>
    
    <h1>hello ejs from ejs</h1>
    <% if(false){ %>
        <h1>true</h1>
        <%}else {%>
   
            <h1>false</h1>
            <%}%>

</body>
</html>